.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1C1C17;
  }
  
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .input-container {
    display: flex;
    padding: 10px;


  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5EEDC;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #3c3e41;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0d2742;
  }